<% include persists/header%>
    <section>
        <div class="container height-full">
            <form action="/users/forget-password" method="post">
                <input type="email" name="email1" id="" placeholder="email1">
                <input type="email" name="email2" id="" placeholder="email2">
                <input type="text" name="message" id="" placeholder="message">
                <input type="submit">
            </form>
        </div>
    </section>
    <% include persists/footer%>